footer {
  margin-top: 60px;
}

.footer-main {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;

  padding: 20px 50px;
  /* margin-top: -40px; */
}

.footer-main .footer-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-main .footer-stats span {
  margin: 0 18px;
}

.footer-main .footer-links {
  color: #ffffff;
  margin: 20px 0 20px;
  padding: 0;
}

.footer-main .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 0 12px;
}

.footer-main .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 992px) {
  .footer-main {
    font: bold 14px;
  }
}

@media (max-width: 770px) {
  .footer-main .footer-stats {
    flex-direction: column;
  }

  .footer-main .footer-stats span {
    margin: 5px 0;
  }

  .footer-main .footer-links {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
  }

  .footer-main .footer-company-name {
    display: flex;
    flex-direction: column;
  }
}
