<div class="row">
    <div class="col-2"></div>
    <div class="col-8">

        <h1 class="text-center font-weight-bold">
            Sharing Options
        </h1>

        <div class="col share-buttons">

            <button mat-icon-button (click)="share('whatsapp')" class="share-whatsApp">
                <span><img id="whatsapp" src="../../assets/img/icons/whatsapp.png" alt="WhatsApp"></span>
            </button>

            <button mat-icon-button (click)="share('twitter')" class="share-twitter">
                <span><img id="twitter" src="../../assets/img/icons/twitter.png" alt="Twitter"></span>
            </button>

            <button mat-icon-button (click)="share('facebook')" class="share-facebook">
                <span><img id="facebook" src="../../assets/img/icons/facebook.png" alt="Facebook"></span>
            </button>

            <button mat-icon-button (click)="share('mail')" class="share-mail">
                <span><img id="gmail" src="../../assets/img/icons/gmail.png" alt="Twitter"></span>
            </button>
        </div>

    </div>
    <div class="col-2"></div>
</div>