<div class="container2">
   <h1>MEET THE CREATORS</h1>
   <div class="text">
      We are two creatures who have a passion for software technologies. As we aspire to become professional developers
      one day, we keep working on different projects together. This along with the frequent discussions enhances our
      skillset. The partnership is also fuelled by our lifelong friendship which is ultimately the reason behind opening
      a fictitious company for our own benefits.
      <br><br>
      If you have any queries or suggestions, please feel free to contact one of us and we would be more than happy to
      have a chat with you. If you are not quite sure of how we are pulling this website off while maintaining
      anonymity, get in touch with us so that we can help you understand the process.
      <br><br>
   </div>

   <div class="row">
      <div class="col-sm-6 text-center">
         <img src="../../../assets/img/IMG-subhranil.jpg" class="picsubhranil" alt="Subhranil Dutta">
         <br>
         <div class="name">
            Subhranil Dutta
            <br>
            subhronil.dutta@gmail.com
         </div>

         <div class="btn-group">
            <img (click)="contacttubu('twitter')" src="../../../assets/img/icons//twitter.png" alt="">
            <img (click)="contacttubu('github')" src="../../../assets/img/github-light.png" alt="">
            <img (click)="contacttubu('facebook')" id="facebook" src="../../../assets/img/icons/facebook.png" alt="">
            <img (click)="contacttubu('linkedin')" id="linkedin" src="../../../assets/img/icons/linkedin.png" alt="">
            <img class="img-mail" (click)="contacttubu('mail')" id="gmail" src="../../../assets/img/icons/gmail.png"
               alt="">
         </div>
      </div>
      <div class="col-sm-6 text-center">
         <img class="picsubham" src="../../../assets/img/IMG-subham.jpg" alt="Subham Das">
         <br>
         <div class="name">
            Subham Das
            <br>
            das.jishu25@gmail.com
         </div>

         <div class="btn-group">
            <img (click)="contactnaru('twitter')" src="../../../assets/img/icons/twitter.png" alt="">
            <img (click)="contactnaru('github')" src="../../../assets/img/github-light.png" alt="">
            <img (click)="contactnaru('facebook')" id="facebook" src="../../../assets/img/icons/facebook.png" alt="">
            <img (click)="contactnaru('linkedin')" id="linkedin" src="../../../assets/img/icons/linkedin.png" alt="">
            <img class="img-mail" (click)="contactnaru('mail')" id="gmail" src="../../../assets/img/icons/gmail.png"
               alt="">
         </div>
      </div>
   </div>
</div>