<div class="container2">

    <div class="inner">
        <img class="mat-elevation-z4 logo-body" src="../../assets/img/logo/logo-body.jpg" alt="logo">
    </div>

    <h1>FLUXTON INC.</h1>
    <div class="text">
        Fluxton Incorporation is a completely FICTIONAL company run by the two of us. It basically serves as a front
        from behind which we work on various projects that catch our attention. It helps us strike a balance between
        professionalism and keeping things simple. This is however, neither a business venture nor an organization
        striving on profits. Our projects and ideas are completely driven by our passion towards technology and software
        and we work on these to further strengthen our grasp on various languages and technology. In one line, Fluxton
        serves as a virtual wall behind which two aspiring developers work hard to bring a change.
        <br><br>
        If you have any queries or suggestions, please feel free to contact us and we would be more than happy to have a
        chat with you. If you are not quite sure of how we are pulling this website off while maintaining anonymity, get
        in touch with us so that we can help you understand the process.
    </div>

    <div class="row">
        <div class="col-6 text-right"><button [routerLink]="['/team']" mat-raised-button color="primary">MEET THE
                TEAM</button></div>
        <div class="col-6 text-left"><button [routerLink]="['/contact']" type="button" mat-stroked-button>CONTACT
                US</button></div>
    </div>

    <h1>ABOUT CLOAKSPACE</h1>
    <div class="verbosy text">
        Cloakspace is not your typical social media platform which logs all sorts of data about the user. We do not
        store
        any of your data and simultaneously provide a smooth experience. We tried to provide all sorts of features which
        can be exploited without storing information about the user. There are no hidden costs involved. This is a
        completely free platform where you can leave your thoughts and read some more without constantly worrying of
        being tracked or judged by someone.
        <br><br>
        We hope that you have an enriching experience as you scroll through the feeds. Do leave a suggestion or feedback
        so that we can improve and cater to your needs.
        <br><br>
        NOTE: Cloakspace is best viewed on devices having a screen width of more than 1000px, that is laptops and
        desktops. However, other devices pretty much provide a great experience too.
    </div>

    <div class="credits">
        CREDITS:
        <br><br>
        <a href="https://www.freepik.com/free-photos-vectors" target="blank">Logo vector created by
            freepik - www.freepik.com</a>
        <br>
        <div>Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="blank">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon" target="blank">www.flaticon.com</a>
        </div>
    </div>
</div>