@media (max-width: 992px) {
  .col-sm-0 {
    display: none;
  }
}

.caughtup {
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid grey;
}

.alert-dark {
  background-color: transparent;
  color: white;
  border: grey;
}

h1 {
  font-family: "Quicksand", sans-serif;
}
