<!-- Add Policy -->
<div class="container-policy">
    <div class="inner">
        <img class="mat-elevation-z4 logo-body" src="../../assets/img/logo/logo-body.jpg" alt="logo">
    </div>
    
    <h1>POLICY STATEMENT</h1>
    <div class="text">
        Cloakspace is an example of anonymity where opinions are always welcome. No one should feel restrained here. <br><br>

        However, although we are an anonymous site, we have to maintain some guidelines and consider these while determining which posts should be considered as inappropriate. <br><br>

        We encourage everyone to share their opinions here without any fear but at the same time, we understand that this does not come with the freedom to type anything that might be extreme. Cloakspace neither promotes any hate speech, cyber bullying nor does it have any affiliation towards any group, community, society be it political or social. If we find any post which engages in activities including BUT NOT limited to using ethnic slurs, obscenity, racism, cyber violence, we reserve the right to remove that post permanently. We will look at each post objectively and adhere to the guidelines we have mentioned above. Extreme posts be it abusive or bullying, shall be removed if they disturb the order of the website. <br><br>

        In addition to this, we have a report action which we urge people to use in case someone finds any post abusive or unusual. We would have a look at it as soon as we receive a report. You can also use the feedback to notify us of any indecent activities that might be going on to help us keep in track. You can also inform the creators directly. <br><br>

        Cloakspace should remain an optimistic platform encouraging people to come forward with their thoughts and we shall always try to keep it that way. <br><br>

        Stay happy. Keep posting!
    </div>
    <div class="buttoncontact"><button [routerLink]="['/contact']" type="button" mat-stroked-button>CONTACT
    US</button></div>
</div>