
.container-policy {
    margin-top: 60px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: left;
    /* text-justify: newspaper; */
}

.inner {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: -10px;
}

.logo-body {
    width: 178px;
    height: 178px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 50px;
    font-size: 26px;
}

.buttoncontact {
    margin: 40px auto 50px auto;
    text-align: center;
}