<div class="main-wrapper text-center">
  <div class="cover-container col">
    <header class="masthead mb-auto">
      <div class="inner">
        <img class="mat-elevation-z4 logo-body" src="../../assets/img/logo/logo-body.jpg" alt="logo">
        <h2>Cloakspace</h2>
      </div>
    </header>


    <div class="inner cover">
      <h3 class="cover-heading">A platform where you don't trade anonymity for your thoughts.</h3>
      <p class="lead">
        <button routerLink="/feed" mat-raised-button class="main-btn">
          To The Dark Side
        </button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <div class="bind mat-elevation-z10">
        <img src="assets/img/icon-trending.png" class="image">
        </div>
        <h2>Trending</h2>
        <p>Welcome to the new order. Contribute your thoughts without fear.</p>
    </div>
    <div class="col-md-4">
      <div class="bind mat-elevation-z10">
        <img src="assets/img/icon-secure.png" class="image">
      </div> 
        <h2>Secure</h2>
        <p>Don't compromise on data security. We do not save any of your data.</p>
    </div>
    <div class="col-md-4">
      <div class="bind mat-elevation-z10">
        <img src="assets/img/icon-features.png" class="image">
      </div>
        <h2>Cool</h2>
        <p>It's just as any platform with features but without the tracking.</p>
    </div>
  </div>

  <!-- <button routerLink="/feed" mat-raised-button class="sec-btn">
    Explore the abyss
  </button> -->
</div>